#fullViewDay{
    header {
        display: flex;
        .Month {
            margin: 0.6vw 0 0 5vw; //first value is dependent on difference between .month font size and .day font size
            color: white;
            font-size: 3.8vw;
            font-weight: 500;

        }

        .Day {
            margin: 0.4vw auto 0 2vw;
            color: #8cabc4;
            font-size: 4vw;
        }
    }

    .hourBars {
        margin: 1vw 2vw 0 2vw;
        overflow: scroll;
        display: grid;
        grid-template-columns: repeat((24, 95.9vw / 12));

        border: 1px solid white;
    }
}

.hour {
    margin: 0 auto;
    padding-top: 1vw;
    width: 100%;
    border: 1px solid #4be1a2;

    text-align: center;
    font-size: 1.2em;
    color: white;

    height: calc(100vh - 9em);
}

.events {
    margin-top: calc(-100vh + 14em);
    overflow: visible;
    div {
        margin: 0.5em 0 0.6vw 0;
        color: rgb(50, 13, 87);
        background:rgb(187,134,252);
        border-radius: 1vw;
        font-size: 1.15em;

        text-align: left;
    }
}