* {
  margin: 0;
  padding: 0;
  list-style: hidden;
  overflow: hidden;
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  /* Konqueror HTML */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background: #1b1b1b;
}

input {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.header {
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vw;
  border-bottom: 1px solid #464646;
}

.header #displayDate {
  margin: 7vw 0 0 10vw;
  font-size: 9vw;
}

.header #arrowsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8vw 5vw 0 auto;
}

.header #arrowsContainer .arrowIcon {
  color: white;
  font-size: 9vw;
}

.header div {
  margin: .3vh 0 0 0;
  color: white;
  font-size: 4vw;
  font-weight: 500;
}

.daysContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[7];
      grid-template-columns: repeat(7, auto);
}

.daysContainer .day {
  text-align: center;
  height: calc((70vw) / 5);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.daysContainer .day .dayTitle {
  width: 7vw;
  border-radius: 2vw;
  color: white;
  font-size: 4.2vw;
  margin: 50% auto;
}

.daysContainer .inputSection {
  display: none;
}

.daysContainer .menu {
  display: none;
}

.daysContainer .eventList {
  display: none;
}

.daysContainer .eventList .eventContainer .event .eventText {
  width: 11.5vw;
  font-size: 14px;
  margin: 0 0 0 0.5vw;
}

.daysContainer .leftElement {
  border-left: 1px solid #464646;
}

.daysContainer .currentDay {
  color: #320d57 !important;
  background: #bb86fc;
}

@media all and (min-width: 600px) {
  .daysContainer .day .dayTitle {
    font-size: 3.4vw;
  }
}

@media all and (min-width: 800px) {
  .header {
    height: calc(5.5vw - 1px);
  }
  .header #displayDate {
    font-size: 3.8vw;
    margin: 0.6vw 0 0 5vw;
  }
  .header #arrowsContainer {
    margin: 1.5vw 4vw 0 auto;
  }
  .header #arrowsContainer .arrowIcon {
    font-size: 3.8vw;
  }
  .standardBg {
    background: #1e1e1e;
  }
  .standardBg .inputSection {
    opacity: 0;
    pointer-events: none;
  }
  .selectedBg {
    background: #2e2442 !important;
  }
  .inputSection {
    opacity: 1;
    pointer-events: all;
  }
  .inputSection .inputContainer .line {
    position: absolute;
    margin: -0.15vw auto 0 0.82vw;
    width: 10.25vw;
    height: 0.15vw;
    background: #615f63;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .inputSection .inputContainer .animatedLine {
    width: 0vw;
    background: #bb86fc;
  }
  .inputSection .inputContainer input {
    background: none;
    border: none;
    padding: 2px;
    margin-top: 1vw;
    height: 1.5vw;
    width: 10vw;
    font-size: 1.05vw;
    color: white;
    outline: none;
  }
  .inputSection .inputContainer input:focus ~ .animatedLine {
    width: 10.25vw;
  }
  .inputSection .inputContainer input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .inputSection .inputContainer input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .inputSection .inputContainer input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .inputSection .inputContainer input:focus::placeholder {
    color: transparent;
  }
  .inputSection .inputContainer a {
    padding: 0 .4vw;
    margin: 0 0 0 .4vw;
    font-size: 1vw;
    background: #3e5c76;
    border-radius: .1vw;
    border: 1px solid #294132;
  }
  .inputSection .inputContainer a:hover {
    background: #748cab;
  }
  .daysContainer .day {
    border-right: 1px solid #464646;
    border-bottom: 1px solid #464646;
    height: calc((100vh - 5.5vw) / 5 - 1px);
  }
  .daysContainer .day .dayTitle {
    font-size: 2vw;
    margin: .3vw 0 0 11.4vw;
    width: auto;
  }
  .daysContainer .day:hover {
    background: #2c2c2c;
  }
  .daysContainer .inputSection {
    width: 16vw;
    display: block;
    z-index: 1;
    position: absolute;
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
    background: #2e2e2e;
    border: 0.3px solid #979389;
    width: 15vw;
  }
  .daysContainer .inputSection h2 {
    padding: .4vw;
    color: white;
    font-size: 20px;
  }
  .daysContainer .inputSection .locationTitle {
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.2vw solid #615f63;
    color: white;
    margin: 0.5vw 7.322vw 0 0;
    width: 6vw;
    font-size: 0.9vw;
  }
  .daysContainer .inputSection .locationTitle:focus {
    border-bottom: 0.2vw solid #bb86fc;
  }
  .daysContainer .inputSection .locationTitle:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .daysContainer .inputSection .locationTitle:focus:-ms-input-placeholder {
    color: transparent;
  }
  .daysContainer .inputSection .locationTitle:focus::-ms-input-placeholder {
    color: transparent;
  }
  .daysContainer .inputSection .locationTitle:focus::placeholder {
    color: transparent;
  }
  .daysContainer .eventList {
    display: block;
  }
  .daysContainer .eventList .eventContainer {
    background: #bb86fc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: .3vw;
    margin: .2vw auto;
    width: 13vw;
    height: 1.1em;
  }
  .daysContainer .eventList .eventContainer .event {
    text-align: left;
  }
  .daysContainer .eventList .eventContainer .event .eventText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    margin: 0 0 0 0.5vw;
  }
  .daysContainer .eventList .eventContainer .removeEvent {
    position: relative;
    margin: 0.05vw 0 0 auto;
  }
  .daysContainer .eventList .eventContainer .removeEvent img {
    width: 1vw;
  }
}

@media all and (min-width: 1000px) {
  .daysContainer .day .dayTitle {
    font-size: 1.6vw;
    margin: .3vw .3vw 0 12vw;
  }
}

@media all and (min-width: 1200px) {
  .daysContainer .day .dayTitle {
    font-size: 1.2vw;
  }
}
/*# sourceMappingURL=style.css.map */